@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.background-image {
    background-image: url('./images/background.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}
